<div class="container"><br>
    <div class="container" style="text-align: center;">
        <h1>Simple Post Message Application !</h1><br>

        <p>Made using <b>MEAN</b> Stack - <br>
            <b>Frontend:</b> Angular ^7, Typescript, Bootstrap<br>
            <b>Backend:</b> Express JS, Node JS, Mongodb<br>
    
        </p>
    </div>
    <div class="row">
        
    
        <div class="col-sm-1">

        </div>
        <div class="col-sm-5" style="    margin-top: 2.5%;">
            <div class="card" >
                <div class="card-header">
                    Login
                  </div>

                <form #login="ngForm" (ngSubmit)="OnLogin(login)">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Email id <span class="required">*</span></label>
                      <input type="email" class="form-control" name="emailid" ngModel #emailid="ngModel"  placeholder="john.doe@email.com" required>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Password <span class="required">*</span></label>
                      <input type="password" class="form-control" name="password" ngModel #password="ngModel"  placeholder="*********" required>
                    </div>
                    <div *ngIf="loginresult" class="alert alert-danger" role="alert">
                      {{loginresult}}
                    </div>
                    <button [disabled]="login.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

                  </form>
            </div><br>
        </div>
        <div class="col-sm-5" style="    margin-top: 2.5%;">
            <div class="card">
                <div class="card-header">
                    Register
                  </div>

                <form #register="ngForm" (ngSubmit)="Onregister(register)">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Email id <span class="required">*</span></label>
                      <input type="email" class="form-control" ngModel name="emailid" #emailid="ngModel"  placeholder="john.doe@email.com" required>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Create Password <span class="required">*</span></label>
                      <input type="password" class="form-control" ngModel name="createpassword" #createpassword="ngModel"  placeholder="*********" required>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Retype Password <span class="required">*</span></label>
                        <input type="password" class="form-control" ngModel name="password" #password="ngModel"  placeholder="*********" required>
                      </div>
                      <div *ngIf="registerres" class="alert alert-danger" role="alert">
                        {{registerres}}
                      </div>

                      
                      <div *ngIf="errormessage" class="alert alert-danger" role="alert">
                        Passwords should match.
                      </div>

                      <button [disabled]="register.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

                  </form>
            </div><br>
        </div>
        <div class="col-sm-1">
            
        </div>
    </div>
</div>